header{
    background-color: cadetblue;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    nav{
        text-align: center;
        display: flex;
        justify-content: space-around;
        a{
            color: aliceblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-decoration: none;
            font-size: medium;
        }
    }
}
